#contenido {
  width: 90%;
  margin: 10px auto;
  padding-bottom: 20px;
  background-color: rebeccapurple;
}

#contenido #division {
  margin: auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#contenido #division #paginas {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contenido #division #paginas #datos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  padding-bottom: 20px;
}

#contenido #division #paginas #datos #grupos {
  background-color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  border-radius: 10px;
  height: 100%;
}

#contenido #division #paginas #datos .grupos {
  background-image: url();
}

#contenido #division #paginas #apuestas {
  border-radius: 20px;
  background-image: url("../img/fondo-futbol.jpg");
  width: 100%;
  background-color: aquamarine;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 5px 0;
}

#contenido #division #paginas .llevar {
  margin: 10px 0;
}

#contenido #division #paginas .botones {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 10px;
}

#contenido #division #paginas a:hover {
  background-color: grey;
  color: black;
}

#contenido #division #ranking {
  width: 30%;
  background-color: #1077C3;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: white;
}

#contenido #division #ranking .participante {
  background-color: purple;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0;
  margin: 5px 0;
}

#contenido #division #ranking .participante #nombre {
  width: 30%;
}

#contenido #division #ranking .participante #punteo {
  width: 70%;
}

#contenido #division #ranking .participante #punteo progress {
  width: 80%;
}

#contenido #division #ranking .participante a {
  font-size: 15px;
  color: white;
}
/*# sourceMappingURL=inicio.css.map */