#contenido{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    .boton--enviar{
        button{width: 200px;}
    }
}


.listado{
    display: flex;
    flex-direction: column;

    #nombre_listado{
        background-color: #FEC310;
        padding: 5px;
        border-radius: 5px;
        width: fit-content;
        margin: auto;
    }

}

.listado--modif--equipo{
    .dato{
        #bandera{
            width: 10%;
        }
        #nombre{
            width: 30%;
        }
    }
    
    .dato--admin{
        img{
            height: 20px;
        }
    }

    .dato--titulos{
        #nombre{
            width: 40%;
        }
    }
}


.listado--estadio{
    #nombre{
        width: 50%;
    }
    #ciudad{
        width: 50%;
    }
}

.listado--modif--estadio{
    #nombre{
        width: 40%;
    }
    #ciudad{
        width: 40%;
    }
}
table{
    border: none;
    margin-bottom: 2%;

    .dato--titulos{
        background-color: #290812;
        color: white;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .nombre_grupo{
        width: 30%;
    }
}
td{
    text-align: center;
}

.punteo img{
    height: 20px;
}

table tbody tr:nth-child(odd) {
	background: #e4e9ee;
}
table tbody tr:nth-child(even) {
	background: #f0f7f7;
}
